body
{
	padding: 0px;
	margin:0px;
	height: 100%;
	width: 100%;	
	font-family:"Lucida Grande", Tahoma, Arial, Sans-serif;
	font-size: 11px;
	background:url('images/bg.jpg') #ffffff top center repeat-x;
	color: #000000;
}
a:link 
{	
	text-decoration: none; 
	color: #336699;
}
a:visited 
{
	text-decoration: none; 
	color: #336699;
}

a:active 
{
	text-decoration: none; 
	color: #336699;
}

a:hover 
{
	text-decoration: underline; 
	color: #336699;
}
img
{
	border: 0 none;
	text-decoration: none;
}
a img
{
	text-decoration: none;
	border: 0 none;
}
.eyad_container
{
	width: 855px;
	margin: 0 auto;
}
.eyad_header
{
	background:url('images/header.png') top center no-repeat;
	height: 200px;
	margin-top: 0px;
}
.eyad_titleWrapper
{
	background:url('images/title.png') top center repeat-y;
	padding: 0px;
	margin: 0px;
}
.eyad_sideribbonL
{
	float: left;
	background:url('images/ribbon_sd_l.png') top center no-repeat;
	width: 40px;	
	height: 43px;	
	margin-left: 2px;	
}
.eyad_sideribbonC
{
	float: left;
	background:url('images/ribbon_sd_c.png') top center repeat-x;
	height: 43px;	
}
.eyad_sideribbonR
{
	float: left;
	background:url('images/ribbon_sd_r.png') top center no-repeat;
	width: 40px;	
	height: 43px;		
}
.eyad_sideribbonCC
{
	margin: 8px 0px 0px 0px;
	font-size: 18px;
	font-weight: bold;
	color: #000;
	text-shadow: 0px 1px 1px #fff;
}
.eyad_sideribbonX
{
	clear: both;
}
.eyad_body
{
	background:url('images/body.png');
	background-repeat: repeat-y;
}
.eyad_bodyWrapper
{
	padding: 0px 25px 0px 25px;
}
.eyad_footer
{
	background:url('images/footer.png') top center no-repeat;
	height:55px;
	color: #ffffff;
}
.eyad_footer a
{
	color: #000;
	text-shadow: 0px 1px 1px #dadada;	
}
.eyad_copyrightsWrapper
{
	text-align: right;
	padding:31px 31px 0px 0px;
	font-size: 11px;
}








